.search{
    width: 100%;
    margin-top: 3.5rem;
    display: inline-block;
    .home-content-new{
        width: 100%; 
        padding: 0 20px 20px ; 
        display: inline-block;
        background: #faf9f9;
        >li:nth-of-type(1){
            margin-top: 0;
        }
        // >li:nth-last-of-type(1){
        //     margin-top: 10px;
        // }
        >li{
            width: 100%;
            margin: 25px 0 25px 0; 
            font-family: Avenir,Helvetica,Arial,sans-serif; 
            background-color: #ffffff;
            >div{ 
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0,0,0,.05);
                position: relative;
                >div:nth-of-type(1){
                    width: 100%;
                    height: 12rem;
                    >img{
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px; 
                        width: 100%;
                        height: 100%; 
                        transition: all 0.5s;    
                    } 
                } 
                >div:nth-of-type(1)::after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "";
                    width: 100%;
                    display: inline-block;
                    height: 12rem; 
                    background: linear-gradient(to bottom,transparent,transparent,transparent,transparent,rgba(0,0,0,.08));
                }
                >div:nth-of-type(2){  
                    font-size: 1rem;
                    text-align: left;  
                    overflow: hidden; 
                    line-height: 1.5rem; 
                    // font-weight: 600;
                    padding: 0.8rem 0.8rem 0;
                    margin-bottom: 0.5rem;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                } 
                >div:nth-of-type(3){
                    color: #aaa;
                    background-color: #fff;
                    border-top: 1px solid #f4f4f4;
                    display: flex;
                    font-size: 12px;
                    font-weight: 500;
                    height: 37px;
                    justify-content: space-between;
                    line-height: 1;
                    padding: 12px 15px;
                }
            }
        }
    }
    .my-loading{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        img{
            width: 30px;
            height: 28px;
            animation: myfirst 0.5s linear  infinite;
        }
        span{
            margin-left: 1.25rem;
            font-size: 1.5rem;
            height: 100%;
            line-height: 3rem;  
        }
    }
    .dropload-noData{
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1rem;
        background-color: white;
    }
}